
   <div class="jumbotron_c">
    <div class= "mintron">
        <h1 >Kogur!</h1>
        <p>Discover the Expression of Kashmir.</p>
        <a class="btn btn-primary btn-lg" href='articles' role="button">Start Discovering</a>
        <%= link_to 'About', about_path %>
    </div>
    </div>