
   <div class="jumbotron_c">
    <div class= "mintron">
        <h1 >Kogur!</h1>
        <p>Discover the Expression of Kashmir.</p>
        <a class="btn btn-primary btn-lg" href='about' role="button">About Us</a>
        
    </div>
    </div>